body {
    background: #f8f9fa;
}

h1 {
    font-weight: 600;
}

.card {
    border-radius: 10px;
}

.table {
    background: white;
}

table td, table th {
    text-align: center;
    vertical-align: middle;
}